<script lang="ts" setup>
defineProps({
  title: {
    type: String,
    default: ''
  }
})

const toggle = ref(false)
</script>

<template>
  <article class="border-b">
    <header class="flex justify-between items-center p-6 pl-8 pr-8 cursor-pointer select-none" @click="toggle = !toggle">
      <span class="text-xl text-gray-800 font-medium">
        {{ title }}
      </span>
      <div>
        <svg
          v-if="toggle"
          aria-hidden="true"
          data-reactid="281"
          fill="none"
          height="24"
          stroke="#606F7B"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewbox="0 0 24 24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polyline points="18 15 12 9 6 15" />
        </svg>
        <svg
          v-else
          aria-hidden="true"
          class=""
          data-reactid="266"
          fill="none"
          height="24"
          stroke="#606F7B"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewbox="0 0 24 24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polyline points="6 9 12 15 18 9" />
        </svg>
      </div>
    </header>
    <div>
      <div v-show="toggle" class="pl-8 pr-8 pb-5 text-gray-500">
        <slot name="content" />
      </div>
    </div>
  </article>
</template>
