<template>
  <div>
    <top-navigation />
    <section class="bg-primary-600">
      <div class="container px-6 py-16 mx-auto">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div>
            <h2 class="text-4xl font-bold text-white">
              Word lid van het AD
            </h2>
            <p class="text-xl mt-4 text-gray-100">
              Met alle abbonementen kunt u onbeperkt premium artikelen lezen op 5 apparaten tegelijk
            </p>
          </div>
        </div>

        <div
          class="grid gap-6 mt-16 -mx-6 sm:gap-8 p-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
        >
          <price-table-item
            v-for="(product, index) in products.body"
            :key="index"
            :discount="product.discount"
            :highlight="product.highlight"
            :price-label="product.priceLabel"
            :price="product.price"
            :sub-title="product.subTitle"
            :title="product.title"
            :usps="product.usps"
          />
        </div>
      </div>
    </section>

    <section class="lg:w-3/5 p-8 mx-auto">
      <div class="container px-6 py-16 mx-auto">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div>
            <h2 class="text-4xl font-bold text-gray-800">
              Veelgestelde vragen
            </h2>
            <p class="text-xl mt-4 text-gray-500">
              Staat jou vraag er niet tussen? Neem gerust contact met ons op.
            </p>
          </div>
        </div>

        <div
          class="grid mt-16 -mx-6"
        >
          <accordion-item v-for="(faq, index) in faqs.body" :key="index" :title="faq.title">
            <template #content>
              {{ faq.content }}
            </template>
          </accordion-item>
        </div>
      </div>
    </section>
  </div>
</template>

<script setup lang="ts">
const { data: products } = await useAsyncData('products', () => queryContent('/products').findOne())
const { data: faqs } = await useAsyncData('faq', () => queryContent('/faq').findOne())
</script>
