
<template>
  <header>
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <a href="https://ad.nl/abbonementen" class="flex items-center">
          <img src="@/assets/svg/logo.png" class="mr-3 h-6 sm:h-9" alt="Logo">
        </a>
        <div class="flex items-center lg:order-2">
          <a href="#" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none">Service abbonees</a>
        </div>
        <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1">
          <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
            <li>
              <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 hover:text-primary-600">Onze abonementen</a>
            </li>
            <li>
              <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 hover:text-primary-600">Veelgestelde vragen</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>
