<script lang="ts" setup>
interface uspItem {
  title: string;
  included: boolean;
}

defineProps({
  discount: {
    type: String,
    default: ''
  },
  highlight: {
    type: Boolean,
    default: false
  },
  link: {
    type: String,
    default: ''
  },
  price: {
    type: String,
    default: ''
  },
  priceLabel: {
    type: String,
    default: ''
  },
  subTitle: {
    type: String,
    default: ''
  },
  title: {
    type: String,
    default: ''
  },
  usps: {
    type: Array as PropType<Array<uspItem>>,
    default: undefined
  }
})
</script>

<template>
  <div
    class="px-6 py-4 transition-colors duration-300 transform rounded-lg border-solid border-2"
    :class="[
      { 'border-white bg-white text-gray-800': highlight },
      { 'text-gray-100 border-primary-700 hover:bg-primary-700 hover:text-gray-100': !highlight }
    ]"
  >
    <p class="text-2xl font-medium">
      {{ title }}
    </p>

    <h4
      class="mt-2 text-4xl font-semibold"
    >
      {{ price }}
      <span
        class="text-base font-normal"
      >/ {{ priceLabel }}</span>
    </h4>

    <div v-if="discount" class="flex flex-row items-center pt-5 pb-1">
      <p
        class="text-sm border rounded-full py-1 px-2"
        :class="[
          { ' text-gray-800 border-gray-800': highlight },
          { ' text-gray-100 border-gray-200': !highlight }
        ]"
      >
        {{ discount }}
      </p>
    </div>

    <p class="text-xl mt-4">
      {{ subTitle }}
    </p>

    <div class="mt-8 space-y-8">
      <div v-for="(usp, index) in usps" :key="index" class="flex items-center">
        <svg
          v-if="usp.included"
          class="w-5 h-5"
          :class="[
            { 'text-lime-600': highlight },
            { 'text-white': !highlight }
          ]"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          fill="currentColor"
        ><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" /></svg>
        <svg
          v-else
          class="w-5 h-5"
          :class="[
            { 'text-red-600': highlight },
            { 'text-white': !highlight }
          ]"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        ><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" /></svg>

        <span
          class="mx-4"
          :class="[
            { 'text-gray-100': usp.included && !highlight },
            { 'text-gray-300': !usp.included && !highlight },
            { 'text-gray-800': usp.included && highlight },
            { 'text-gray-400': !usp.included && highlight }
          ]"
        >{{ usp.title }}</span>
      </div>

      <button
        class="w-full px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-primary-300 rounded-md hover:bg-white hover:text-primary-500 focus:outline-none focus:bg-primary-400"
      >
        Bestel nu
      </button>
    </div>
  </div>
</template>
